
sem_3/PO/po2024/


*.zip
*.rar
*.7z
*.tar
*.gz
*.exe
*.dll
*.cab
*.msi


*.mat
*.raw
*.dat
*.wav
*.mp3


*.tmp
*.log
*.cache





Thumbs.db
Desktop.ini


.vscode/


__pycache__/
*.pyc


node_modules/


*.jar


build/
dist/
out/